h1 {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 100
      .px;
      }
img src { text-align:center;}
div.center {
  margin: 0 auto;
  width: 80em;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
